button.base,
.btn-base {
    padding: 0.5rem 0.9rem;
    margin: 0 0.5rem;
    border: 1px solid var(--color-borders);
    border-radius: 1rem;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: transparent;
    color: var(--color-text);
    min-width: 6rem;
}

button.base:hover,
.btn-base:hover {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

button.primary,
.btn-primary {
    border: none;
    background-color: var(--color-primary);
    color: var(--color-neutral);
}

button.primary:hover,
.btn-primary:hover {
    border: none;
    background-color: var(--color-primary-darker);
    color: var(--color-neutral);
}

button.account-menu {
    position: relative;
    padding-right: 1.6rem;
}

button.auto-raise,
.btn-auto-raise {
    min-width: fit-content;
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 1.25rem;
    background-color: transparent;
    color: var(--color-text);
}

button.auto-raise:hover,
.btn-auto-raise:hover {
    background-color: var(--color-primary);
    color: var(--color-neutral);
}

#btn_edit_profile_save {
    align-self: center;
}
