<!-- This sep class does nothing visually it is just so the in between space is ignored when clicking the menu (so it doesn't close) -->
<ul class="sep">
  <li>
    <a href="/profile">
      <svg class="dropdown-menu-item-icon">
        <use href="/icons.svg?v={{icon_ver}}#profile"></use>
      </svg>
      Profile
    </a>
  </li>
  <li>
    <a href="/orders">
      <svg class="dropdown-menu-item-icon">
        <use href="/icons.svg?v={{icon_ver}}#orders"></use>
      </svg>
      Orders
    </a>
  </li>
  <li>
    <a href="/messages">
      <svg class="dropdown-menu-item-icon">
        <use href="/icons.svg?v={{icon_ver}}#messages"></use>
      </svg>
      Messages
    </a>
  </li>
  <li>
    <div class="sep"></div>
  </li>
  <li id="itsme">
    <a href="/settings">
      <svg class="dropdown-menu-item-icon">
        <use href="/icons.svg?v={{icon_ver}}#settings"></use>
      </svg>
      Settings
    </a>
  </li>
  <li>
    <a hx-post="api/logout">
      <svg class="dropdown-menu-item-icon">
        <use href="/icons.svg?v={{icon_ver}}#sign-out"></use>
      </svg>
      Sign Out
    </a>
  </li>
</ul>
