<dialog id="create-account-modal" class="create-account-modal">
  <header>
    <h2>Create your account</h2>
    <button id="btn-create-account-modal-close" class="base auto-raise">X</button>
  </header>
  <div class="body">
    <form hx-post="api/users/login" hx-target="#create-account-modal-errors" hx-swap="innerHTML" hx-indicator="#btn-create-account-modal-submit">
      <div id="create-account-modal-errors" class="errors"></div>
      <div class="field">
        <label for="create-account-modal-username">Username</label>
        <input id="create-account-modal-username" type="text" name="username" autocomplete="username" required autofocus>
      </div>
      <div class="field">
        <label for="create-account-modal-email">Email</label>
        <input id="create-account-modal-email" type="email" name="email" autocomplete="email" required>
      </div>
      <div class="field">
        <label for="create-account-modal-pwd">Password</label>
        <input id="create-account-modal-pwd" type="password" name="pwd" autocomplete="new-password" required>
      </div>
      <div class="field">
        <label for="create-account-modal-name">Name</label>
        <input id="create-account-modal-name" type="text" name="name" autocomplete="name">
      </div>
      <div class="actions">
        <button id="btn-create-account-modal-submit" type="submit" class="base primary">
          <span id="btn-create-account-modal-text">Sign in</span>
          <span id="btn-create-account-modal-spinner" class="spinner"></span>
        </button>
      </div>
    </form>
  </div>
</dialog>
