<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Destash Marketplace</title>
  <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.min.js"></script>
  <script type="module" src="/app.js" defer></script>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto:wght@400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div id="me-frag" hx-get="api/me" hx-trigger="load" hx-swap="innerHTML"></div>
  <!-- Navigation Bar -->
  {{> navbar.html}}
  <!-- Modal dialog root -->
  <div id="modal-root">
    {{modal_root_content}}
  </div>
  <!-- Landing Page -->
  <main id="main-content" class="main-content">
    {{main_content_html}}
  </main>
</body>

</html>
