<div id="nav-right" hx-swap-oob="innerHTML">
  <div class="menu-button">
    <button id="account-menu-button" class="base account-menu">
      {{first_name}}
      <svg class="menu-button-chevron">
        <use href="/icons.svg?v={{icon_ver}}#chevron"></use>
      </svg>
    </button>
    <div id="dropdown-menu" class="dropdown-menu hidden">
      {{> account-dropdown.html}}
    </div>
  </div>
  <button class="base auto-raise">
    <svg class="icon">
      <use href="/icons.svg?v={{icon_ver}}#shopping-cart"></use>
    </svg>
  </button>
</div>
